body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gdlightest: #F0E9D2;
  --gdlight: #E6DDC4;
  --gddark:#49c5b6;
  --gddarkest:#2779a7;
  --gdbg: #282c5c;
  --gdbright: #a8ccec;
  --gdred: #DF6C4F;
  --gdpink: #e88484;
}